node_modules
Dockerfile*
docker-compose*
.dockerignore
README.md
node_modules
.git
.gitignore
LICENSE
.vscode
.devcontainer
Makefile
helm-charts
.env
.env*
.editorconfig
.idea
coverage*
*.sqlite
server/static
rest